footer {
	background-color:rgb(1, 39, 70);
  left:0px;
  bottom:0px;
  height:10%;
  width:100%;
  position:fixed;
  padding: 15px;
}

.main1 { 
  display:flex;
  margin:0 auto;
}

a img:hover {
    color: #632727;
}

h6{
  color: rgb(255, 255, 255);
  font-size: 13pt;
}

p{
  color: rgb(255, 255, 255);
}