<!--<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h6>Proyecto en desarrollo<br> Universidad Autónoma Metropolitana<br> Proyecto Terminal 1 y 2<br> T-138
                    <br>
                </h6>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="pull-right">
                    <h6>Encuéntranos en las redes</h6>
                    <div class="redes-footer">
                        <a href="https://www.facebook.com/uami.shopp.1" target="_blank">
                            <i class="fa fa-facebook mr-4"></i>
                        </a>
                        <a href="https://twitter.com/ShopUami" target="_blank">
                            <i class="fa fa-twitter mr-3"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UC65Dze8QOdWVVckYDChaZyA" target="_blank">
                            <i class="fa fa-youtube mr-3"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <p class="text-muted small text-right">UAMI-Shop 2018 <br> Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</footer>-->