<p>
    <style>
        h2 {
            font-family: 'K2D', sans-serif;
            text-align: center;
        }
        /* Style the footer */
    </style>

    <body>
        <div class="text-center white-text mx-5 wow fadeIn">
            <h1 class="mb-4">
                <strong>.</strong>
            </h1>

            <p class="mb-4 d-none d-md-block">
                <strong></strong>
            </p>
        </div>
        <h2> NUESTRA MOTIVACION </h2>

        <!--First row-->
        <div class="row features-small mb-5 mt-3 wow fadeIn">
            <!--First column-->
            <div class="col-md-4">
                <!--First row-->
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-10">
                        <div class="card-body">
                            <h6 class="feature-title">¿Como surgio UAMI Shop?</h6>
                            <p>UAMI Shop es una pagina diseñada apartir de una idea para un proyecto escolar, apartir de esa idea, surgieron inquitudes y asi mismo la necesidad de concretar algo mas solido, asi dio inicio a la creacion de UAMI-Shop
                            </p>
                            <p>¿Porque UAMI-Shop?, ¿Porque una pagina dedicada a la venta de productos entre estudiantes? ¿Porque no otra tematica?
                            </p>
                            <p>La idea de ayudar a la comunidad estudiantil fue uno de los puntos que marco la idea, asi como la problematica que se tienen al querer dar a conocer un producto en alguna red social
                            </p>

                            <div style="height:15px"></div>
                        </div>
                    </div>
                    <!--/First row-->
                </div>
            </div>
            <!--/First column-->
            <!--Second column-->
            <div class="col-md-4 flex-center">
                <img src="../../../assets/img/logoBig.png" alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">
            </div>
            <!--/Second column-->
            <!--Third column-->
            <div class="col-md-4 mt-2">
                <!--First row-->
                <div class="row">
                    <div class="col-10">
                        <h6 class="feature-title">Compra, vende, renta o intercambia es lo que se busca lograr con esta pagina</h6>
                        <p></p>
                        <p class="grey-text">
                        </p>
                        <div style="height:15px"></div>
                    </div>
                </div>
            </div>
            <!--/First row-->
        </div>

    </body>

</p>