<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="776020824848-81vc06ookqta7juiauqnjgq1ptlitvsq.apps.googleusercontent.com">
<div id="contenido">

    <body>
        <div class="text-center white-text mx-5 wow fadeIn">
            <h2> NUESTRA MOTIVACIÓN </h2>
        </div>

        <!--First row-->
        <!--First column-->
        <div class="col-md-12">
            <!--First row-->
            <div class="card-body">
                <h5 class="feature-title"><b>¿Cómo surgió UAMI Shop? </b></h5>
                <p id="texto">UAMIShop es una página diseñada a partir de una idea para un proyecto escolar de la UEA de Temas Selectos de Ingeniería de Software impartida por el Dr. Humberto Cervantes, al cual agradecemos todo su apoyo a lo largo del proyecto
                </p><br>
                <h5><b>¿Por qué una página dedicada a la venta de productos entre estudiantes?</b>
                </h5>
                <p id="texto">Como estudiantes vivimos la constante problemática de querer vender o comprar algún producto dentro de la universidad, nosotros sabemos lo que es tener que ir al centro de la ciudad a tener que conseguir materiales para alguna UEA o tratar
                    de conseguir un libro usado para tratar de ahorrar un poco de dinero, también hemos visto lo que sufren nuestros compañeros de CBS con las batas de laboratorio y todo el instrumental que usan. Es por esto que quisimos brindar a la
                    comunidad un entorno práctico y accesible que busca cubrir diversas necesidades específicas que tenemos como estudiantes.
                </p>


                <div style="height:15px"></div>
            </div>
            <!--/First row-->

        </div>
        <!--/First column-->
        <!--Second column-->
        <div class="col-md-12 flex-center" align="center">
            <img src="../../../assets/img/logoBig.png" width="300px" alt="MDB " class="z-depth-0 img-fluid">
        </div>
        <!--/Second column-->
        <!--Third column-->
        <div class="col-md-12 mt-2">
            <!--First row-->

            <div class="col-12">

                <strong><p id="texto" class="grey-text">Idea básica creada en TSIS (Temas Selectos de Ingeniería de Software) impartida por el Dr. Humberto
                            Cervantes Maceda, así mismo fue consolidada en Proyecto Terminal I y II bajo la tutoría del Dr. Humberto Cervantes Maceda
                            </p>
                            <p>Integrantes: </p>
                            <p>Valencia Loyola Jorge Eduardo</p>
                            <p>Rincón Contreras Nallely</p>
                            <p>Díaz Mendoza Samuel</p>
							<p>1 abril 2019 <p></strong>
                <div style="height:15px"></div>
            </div>

        </div>
        <!--/First row-->

    </body>
    <footer class="page-footer text-center font-small p-3 wow fadeIn">

        <!--Call to action-->
        <div class="pt-4">
            <h5 id="foot" class="feature-title">Contáctanos en uamishopp@gmail.com</h5>
            <p id="foot" class="grey-text mt-2">Visítanos también en nuestras redes sociales
            </p>
        </div>
        <!--/.Call to action-->

        <hr id="foot" class="my-1">

        <!-- Social icons -->
        <div class="pb-4">
            <a id="foot" href="https://www.facebook.com/uami.shopp.1" target="_blank">
                <i class="fa fa-facebook mr-4"></i>
            </a>
            <a id="foot" href="https://twitter.com/ShopUami" target="_blank">
                <i class="fa fa-twitter mr-3"></i>
            </a>
            <a id="foot" href="https://www.youtube.com/channel/UC65Dze8QOdWVVckYDChaZyA" target="_blank">
                <i class="fa fa-youtube mr-3"></i>
            </a>
        </div>
        <!-- Social icons -->


    </footer>
</div>