#titulo{
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: 'K2D', sans-serif;
}
#texto{
    font-family: 'K2D', sans-serif;
}
#iconos{
    color: #006600;
   }
   #titulos{
     font-family: 'K2D', sans-serif;
     font-size: 30px;
}

