#titulo{
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: sans-serif;
}
#texto{
    font-family: 'K2D', sans-serif;
}
#iconos{
    color: #006600;
   }
   #titulos{
     font-family: 'K2D', sans-serif;
     font-size: 30px;
}

h2 {
    font-family: black , sans-serif;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 50px;
}
