<p>
    <style>
        #example1 {
            background-image: url(fondo.jpeg);
            background-position: right bottom, left top;
            background-repeat: no-repeat, repeat;
            padding: 20px;
        }
        
        h2 {
            font-family: 'K2D', sans-serif;
            text-align: center;
        }
        
        p {
            font-family: Arial;
            font-size: 14px;
        }
        
        #pregunta {
            font-family: 'K2D', sans-serif;
        }
        
        * {
            margin: 1;
        }
    </style>

    <body>
        <div class="text-center white-text mx-5 wow fadeIn">
            <h1 class="mb-4">
                <strong>.</strong>
            </h1>

            <p class="mb-4 d-none d-md-block">
                <strong></strong>
            </p>
        </div>
        <div id="example1">
            <h2> Preguntas Frecuentes </h2>
            <strong><p id="pregunta">¿Forzozamente tengo que tener facebook para poder tener una cuenta en UAMI-Shop?</p></strong>
            <p>No, a futuro se podra logear con un correo electronico o con su cuenta de gmail
            </p>
            <strong><p id="pregunta">¿La cuenta tendra un costo?</p></strong>
            <p>No, sera gratuita para los estudiantes</p>
            <strong><p id="pregunta">¿Tengo que poner todos mis datos cuando coloque un objeto a vender o intercambiar?</p></strong>
            <p>A diferencia de otras paginas aqui los usuarios deciden que datos dar para que pueda ser contactado, no existen campos obligatorios</p>
            <strong><p id="pregunta"> Mi producto se vendera rapido?</p></strong>
            <p> Dependera la demanda que tenga el producto</p>
        </div>

    </body>
</p>