<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
<p id="contenido">
    
    <body>
        <div class="text-center white-text mx-5 wow fadeIn">
               <p class="mb-4 d-none d-md-block">
                <strong></strong>
            </p>
			 
        </div>
		
        <div id="example1">
            <h2> Preguntas Frecuentes </h2>
			<details>
            <summary><strong>¿Cómo puedo crear una cuenta en UAMI-Shop?</strong></summary><p></p>
            <p>La cuenta puede ser creada mediante el ingreso por Facebook o Gmail</p>
			</details>
            <details>
			<p></p><summary><strong>¿La cuenta tendrá un costo?</strong></summary><p></p>
            <p>No, sera gratuita para los estudiantes</p>
            </details>
			<details>
			<p></p><summary><strong>¿Tengo que poner todos mis datos cuando coloque un objeto a vender o intercambiar?</strong></summary><p></p>
            <p>A diferencia de otras páginas aqui los usuarios deciden que datos dar para que pueda ser contactado, no existen campos obligatorios</p>
            </details>
			<details>
			<p></p><summary><strong>¿Mi producto se venderá rápido?</strong></summary><p></p>
            <p> Dependerá de la demanda que tenga el producto</p>
			</details>
			<details>
			<p></p><summary><strong>¿Todos los productos estaran revueltos?</strong></summary><p></p>
            <p> No, hay categorias para localizarlos de manera rápida</p>
			</details>
			<details>
			<p></p><summary><strong>¿Si alguien intento engañarme con un producto, cómo lo reporto?</strong></summary><p></p>
            <p> Se manejará un sistema de puntaje el cual los usuarios podran calificar al vendedor</p>
			</details>
			<details>
			<p></p><summary><strong>¿Se pagará con tarjeta o en efectivo?</strong></summary><p></p>
            <p> UAMI-Shop no realiza ningún pago, solamente es una plataforma para que el comprador encuentre a un vendedor, los acuerdos a los que se lleguen
			UAMI-Shop no se hace responsable</p>
			</details>
			<details>
			<p></p><summary><strong>Próximamente otra pregunta</strong></summary><p></p>
            <p> </p>
			</details>
			<details>
			<p></p><summary><strong>Próximamente otra pregunta</strong></summary><p></p>
            <p> </p>
			</details>
			<details>
			<p></p><summary><strong>Próximamente otra pregunta</strong></summary><p></p>
            <p> </p>
			</details>
			<details>
			<p></p><summary><strong>Próximamente otra pregunta</strong></summary><p></p>
            <p> </p>
			</details>
			<details>
			<p></p><summary><strong>Próximamente otra pregunta</strong></summary><p></p>
            <p> </p>
			</details>
			<details>
			<p></p><summary><strong>Próximamente otra pregunta</strong></summary><p></p>
            <p> </p>
			</details>
		</div>

    </body>
	<app-pie-pagina></app-pie-pagina>
</p>