#example1 {
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 20px;
}

h2 {
    font-family: 'K2D', sans-serif;
    text-align: center;
}

p {
    font-family: Arial;
    font-size: 14px;
}

#pregunta {
    font-family: 'K2D', sans-serif;
}

* {
    margin: 1;
}

#contenido {
    margin-top: 100px;
}