<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
<div id="contenido">

    <body>
        <div class="text-center white-text mx-5 wow fadeIn">
            <p class="mb-4 d-none d-md-block">
                <strong></strong>
            </p>

        </div>

        <div id="example1">
            <h2> Preguntas Frecuentes </h2>
            <details>
                <summary><strong>¿Cómo puedo crear una cuenta en UAMI-Shop?</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;La cuenta se crea automáticamente mediante el ingreso por Facebook o Gmail.</p>
            </details>
            <details>
                <p></p>
                <summary><strong>¿La cuenta tendrá un costo?</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;No, la cuenta es gratuita para los estudiantes.</p>
            </details>
            <details>
                <p></p>
                <summary><strong>¿Qué información personal se muestra en mis productos publicados?</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;UAMI-Shop coloca automáticamente el correo con el que ingresaste a la página en tus productos, adicionalmente a esto tú puedes ir a la seccion "Mi cuenta" y colocar tu número telefonico para que éste aparezca en
                    tus productos tambien, sin embargo este dato es opcional.
                </p>
            </details>
            <details>
                <p></p>
                <summary><strong>¿Cómo puedo publicar un producto o servicio?</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Publicar un producto o servicio en UAMI-Shop es muy fácil, tan solo basta con dirigirte al apartado "catalogo" y de ahi presionar el boton "Registrar un producto" esto te llevara a un apartado donde deberas colocar
                    la información de tu producto o servicio, dar en "Guardar" y listo.
                </p>
            </details>
            <details>
                <p></p>
                <summary><strong>¿Cómo puedo encontrar un producto o servicio?</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Para encontrar un producto que desees, basta con ir a la sección catálogo y seleccionar una de nuestras categorias, esto desplegará una lista con productos y servicios publicados por otros miembros de la comunidad
                    UAMI.
                </p>
            </details>
            <details>
                <p></p>
                <summary><strong>¿Por qué utilizar UAMI-Shop?</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;UAMI-Shop es un proyecto que busca reducir la contaminación que se genera con los anuncios en papel, colocados en los distintos espacios de la universidad ,además de ello busca facilitar y agilizar el proceso de
                    compra y venta de productos y servicios necesarios para toda la comunidad UAMI</p>
            </details>
            <details>
                <p></p>
                <summary><strong>¿Es seguro vender y comprar en este sitio?</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Claro, ya que solo interactuamos con comunidad UAMI, sin embargo para tu mayor seguridad te brindamos los siguientes tips:</p>
                <p>1.- Solo realiza el cambio de productos y servicios en lugares concurridos dentro de la universidad, como por ejemplo enfrente de rectoría, del quiosco o de los edificios E,B,C y D ya que éstos son lugares muy concurridos.
                    <br> 2.- Solicita la credencial de la UAM o una identificación oficial a tu contraparte antes de realizar el intercambio.<br>3.-Por ningún motivo realices el intercambio fuera de la universidad.</p>
            </details>
            <details>
                <p></p>
                <summary><strong>¿Cómo puedo realizar el pago de productos y servicios?</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp; UAMI-Shop no realiza ningún pago, solamente es una plataforma para que el comprador encuentre sus productos de interés y se ponga en contacto con el vendedor del mismo para acordar el proceso de compra, UAMI-Shop
                    no se hace responsable por los acuerdos a los que ambas partes lleguen</p>
            </details>
            <details>
                <p></p>
                <summary><strong>¿Cómo puedo reportar un problema que encontré en la página?</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Debido a que UAMI-Shop es un proyecto en desarrollo, es posible que encuentres errores en tu estancia en la misma, es por ello que agradecemos nos los hagas saber:<br>1.- Mándanos un mensaje al correo uamishopp@gmail.com
                    <br>2.- Por medio de nuestro <a href="https://www.facebook.com/uami.shopp.1" target="_blank">Facebook</a></p>
            </details>
            <details>
                <p></p>
                <summary><strong>¿Mi producto se venderá rápido?</strong></summary>
                <p></p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;Dependerá de la demanda que tenga el producto</p>
            </details>
            <details>
                <p></p>
                <summary><strong>¿Todos los productos estarán revueltos?</strong></summary>
                <p></p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;No, hay categorías para localizarlos de manera rápida</p>
            </details>
            <details>
                <p></p>
                <summary><strong>¿Si alguien intentó engañarme con un producto, cómo lo reporto?</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp; Se manejará un sistema de puntaje, con el cual los usuarios podrán calificar al vendedor, de igual manera puedes reportar al usuario a través de nuestro correo uamishopp@gmail.com o en nuestras redes sociales cuyos
                    enlaces estan siempre disponibles en el pie de página, por utlimo recomendamos que nos envies capturas de pantalla como evidencia de tu acusación</p>
            </details>
            <details>
                <p></p>
                <summary><strong>¿Por qué no puedo entrar a ciertas secciones si no estoy logueado?</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp; Nos preocupa la seguridad de nuestros usuarios es por eso que implementamos esta restricción para tener un mayor control de las personas que pueden ver y subir productos
                </p>
            </details>

            <details>
                <p></p>
                <summary><strong>He sufrido acoso por parte de algún usuario de la página</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp; En este caso no dudes en comunicarte con nosotros ya sea en nuestro correo uamishopp@gmail.com o en nuestras redes sociales, de ser posible adjunta con tu mensaje capturas de pantalla como evidencias del acoso.
                    Sin embargo advertimos que no serán toleradas las bromas o acusaciones falsas.
                </p>
            </details>
            <details>
                <p></p>
                <summary><strong>No puedo loguearme</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp; Si tienes problemas con el logueo intenta refrescando la página, a veces los datos no nos llegan y es por eso que no puedes acceder. Si aún asi no puedes acceder comunicate con nosotros.
                </p>
            </details>
            <details>
                <p></p>
                <summary><strong>¿Mis datos de Facebook y google corren algún riesgo?</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp; No te preocupes nosotros no accedemos a ningún dato privado, únicamente tenemos conocimientos de datos públicos tuyos como el nombre de usuario y el correo electrónico, si en algún momento deseamos tener otro dato
                    publico tuyo, Facebook y Google te mostraran una ventana emergente mostrándote la información a la que queremos acceder y si estás de acuerdo.
                </p>
            </details>
            <details>
                <p></p>
                <summary><strong>Mi pregunta no aparece aquí</strong></summary>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp; No dudes en contactarnos en nuestro correo uamishopp@gmail.com o en nuestras redes sociales cuyos enlaces siempre están disponibles en el pie de página.
                </p>
            </details>

        </div>

    </body>
    <footer class="page-footer text-center font-small p-3 wow fadeIn">

        <!--Call to action-->
        <div class="pt-4">
            <h5 id="foot" class="feature-title">Contáctanos en uamishopp@gmail.com</h5>
            <p id="foot" class="grey-text mt-2">Visítanos también en nuestras redes sociales
            </p>
        </div>
        <!--/.Call to action-->

        <hr id="foot" class="my-1">

        <!-- Social icons -->
        <div class="pb-4">
            <a id="foot" href="https://www.facebook.com/uami.shopp.1" target="_blank">
                <i class="fa fa-facebook mr-4"></i>
            </a>
            <a id="foot" href="https://twitter.com/ShopUami" target="_blank">
                <i class="fa fa-twitter mr-3"></i>
            </a>
            <a id="foot" href="https://www.youtube.com/channel/UC65Dze8QOdWVVckYDChaZyA" target="_blank">
                <i class="fa fa-youtube mr-3"></i>
            </a>
        </div>
        <!-- Social icons -->


    </footer>
    <!--/.Footer-->
</div>