
<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <a id="titulo" class="navbar-brand" [routerLink]="['principal']">UAMIShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['ayuda']">Ayuda</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['sobreNosotros']">sobre nosotros</a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cuenta
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['miCuenta']">Mi cuenta</a>
                    <a class="dropdown-item" [routerLink]="['favoritos']">Favoritos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">otra cosa aqui</a>
                </div>
            </li>
        </ul>
        <button type="button" class="btn btn-dark-green btn-rounded" [routerLink]="['/productos']">Ir al catalogo</button>        
        <!--Third row
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            
        </form>-->
        <div class="fb-login-button" data-width="450" data-max-rows="1" data-size="medium" data-button-type="login_with" 
                  data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div>
              
    </div>
    
</nav>