<br><br><br><br><br>
<div class="container">
    <h4 align="center">Modificar los datos de "{{producto.nombre}}"</h4>
    <br><br>
    <div align="center" *ngIf="carga">
        <mat-spinner></mat-spinner>
        <br>
    </div>
    <form (ngSubmit)="guardarCambios()">
        <!--Creo una forma en angular a la cual le inserto los datos-->
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre del producto</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="nombre" placeholder="Nombre" [value]="producto.nombre">
            </div>
            <button type="button" class="btn btn-outline-info mr-2 fa fa-question" container="body" placement="right" ngbPopover="Escribe en breves palabras el nombre de tu producto o servicio, recuerda que éste aparecera como el título del mismo" popoverTitle="Tip para el nombre de tu producto">
            </button>
        </div>
        <div class="form-group row" *ngIf="producto.ubicacion">
            <label class="col-2 col-form-label">Dirección</label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Dirección" [value]="producto.ubicacion" id="ubicacion">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Precio</label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Precio" [value]="producto.precio" id="precio">
            </div>
            <button type="button" class="btn btn-outline-info mr-2 fa fa-question" container="body" placement="right" ngbPopover="Escribe únicamente la cantidad, sin tipo de moneda ni ningún otro caracter que no sea número" popoverTitle="Como escribir el precio de tu producto">
            </button>
        </div>
        <div class="form-group row" *ngIf="producto.area">
            <label class="col-2 col-form-label">Area</label>
            <div class="col-md-8">
                <select class="form-control" name="area" [value]="producto.area" placeholder="Area" id="area">
            <option value="cbi">CBI</option>
            <option value="cbs">CBS</option>
            <option value="csh">CSH</option>
          </select>
            </div>
        </div>
        <div class="form-group row" *ngIf="producto.representante">
            <label class="col-2 col-form-label">Representante</label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Representante" [value]="producto.representante" id="representante">
            </div>
            <button type="button" class="btn btn-outline-info mr-2 fa fa-question" container="body" placement="right" ngbPopover="Normalmente todos los proyectos terminales y de servicio social tienen un profesor que esta a cargo, escribir el nombre del mismo o en su defecto el nombre de la persona a la que se puedan dirigir las personas interesadas en el mismo"
                popoverTitle="A que representante se refiere">
            </button>
        </div>
        <div class="form-group row" *ngIf="producto.requisitos">
            <label class="col-2 col-form-label">Requisitos</label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Requisitos" [value]="producto.requisitos" id="requisitos">
            </div>
            <button type="button" class="btn btn-outline-info mr-2 fa fa-question" container="body" placement="right" ngbPopover="Conocimientos en algún tema, numero de creditos, etc." popoverTitle="A que requisitos se refieren">
            </button>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Descripción</label>
            <div class="col-md-8">
                <textarea rows="4" cols="50" class="form-control" id="descripcion" placeholder="Descripcion">{{producto.descripcion}}</textarea>
            </div>
            <button type="button" class="btn btn-outline-info mr-2 fa fa-question" container="body" placement="right" ngbPopover="Escribe todas las caracteristicas que consideres importantes de tu producto o servicio." popoverTitle="Tip para la Descripción de tu producto">
            </button>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary m-2"> <!--El submit envia el formulario-->
     Guardar Cambios
   </button>
                <a class="btn btn-outline-danger m-2" [routerLink]="['/miCuenta']">Cancelar</a>
            </div>
        </div>
    </form>
    <button class="btn btn-outline-success" [routerLink]="['/modificarImagenProducto']">Editar imagen</button>
</div>