#titulo{    
    font-family: 'K2D', sans-serif;
    text-align: center;
    font-size: 50px;
}
#contenedor_de_la_forma{
    padding-left: 20px;
    font-family: 'K2D', sans-serif;   
    font-size: 20px;
}
   
@media screen and (max-width: 800px) {
    .col-form-label, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1.5px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;    
}