#titulo{    
    font-family: 'K2D', sans-serif;
    text-align: center;
    font-size: 50px;
}
#contenedor_de_la_forma{
    padding-left: 20px;
    font-family: 'K2D', sans-serif;   
    font-size: 20px;
}
   
