#titulo{
    margin: 100px;
    font-family: 'K2D', sans-serif;
    text-align: center;
    font-size: 50px;
}
#datos{
    font-family: 'K2D', sans-serif;
      border-left: 20px;
}
#contenedor{
  

}
