<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="776020824848-81vc06ookqta7juiauqnjgq1ptlitvsq.apps.googleusercontent.com">
<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

<div class="container">
    <!--<div class="main-container container" id="contenedor_de_la_forma">-->
    <h2 style="margin: 100px auto;">Registra Tu Producto</h2>
    <div class="alert alert-info" role="alert">
        Si tienes alguna duda sobre cómo llenar el formulario los botones "?" te ayudarán
    </div>

    <form [formGroup]="forma" (ngSubmit)="guardarCambios()">
        <!--Creo una forma en angular a la cual le inserto los datos-->

        <div class="form-group row">
            <label class="col-2 col-form-label">Categoría</label>
            <div class="col-md-8">
                <select (change)="prueba1()" class="form-control" name="categoria" placeholder="Categoria" formControlName="categoria">
                    <option value="libro">Libro</option>
                    <option value="proyecto">Proyecto terminal y Servicio Social</option>
                    <option value="electronica">Electrónica</option>
                    <option value="departamentos">Departamentos</option>
                    <option value="tutorias">Tutorías</option>
                    <option value="otros">Otros</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre del producto</label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Nombre (Máximo 100 caracteres)" formControlName="nombre" maxlength="255">
            </div>
            <button *ngIf="condicionDepartamentos" type="button" class="btn btn-outline-info mr-2 fa fa-question" container="body" placement="right" ngbPopover="Ejemplo: Cuarto para dos personas *solo mujeres" popoverTitle="Tip para el nombre de tu apartamento ">
            </button>
           
        </div>

        <div class="form-group row" *ngIf="condicionDepartamentos">
            <label class="col-2 col-form-label">Dirección</label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Dirección (Máximo 250 caracteres)" formControlName="direccion" maxlength="255">
            </div>
            
        </div>



        <div class="form-group row">
            <label class="col-2 col-form-label">Precio</label>
            <div class="col-md-8">
                <input class="form-control" type="number" min="0" max="10000" placeholder="Precio" formControlName="precio">
            </div>
            <button type="button" class="btn btn-outline-info mr-2 fa fa-question" container="body" placement="right" ngbPopover="No dejes el campo vacío, coloca un cero y explica en la descripción del producto la clase de trato a 
            la que deseas llegar" popoverTitle="¿Tu servicio es gratuito o deseas hacer un intercambio? ">
            </button>
            <button type="button" class="btn btn-outline-danger mr-2 fa fa-exclamation" container="body" placement="right" ngbPopover="" popoverTitle="Precio máximo: 10000">
            </button>

        </div>
        <div class="form-group row" *ngIf="condicionProyecto">
            <label class="col-2 col-form-label">Representante</label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Representante (Máximo 250 caracteres)" formControlName="representante" maxlength="255">
            </div>
            <button type="button" class="btn btn-outline-info mr-2 fa fa-question" container="body" placement="right" ngbPopover="En caso de no tener maestro tutor aún, escribe sin maestro en lugar de dejar el campo vacío" popoverTitle="Coloca el nombre del profesor que estará a cargo del proyecto ">
        </button>
        </div>
        <div class="form-group row" *ngIf="condicionProyecto">
            <label class="col-2 col-form-label">Requisitos</label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Requisitos (Máximo 250 caracteres)" formControlName="requisitos" maxlength="255">
            </div>
        </div>
        <div class="form-group row" *ngIf="condicionTutorias">
            <label class="col-2 col-form-label">División</label>
            <div class="col-md-8">
                <select (change)="prueba1()" class="form-control" name="Division" placeholder="Division" formControlName="area">
                    <option value="CBI">CBI</option>
                    <option value="CSH">CSH</option>
                    <option value="CBS">CBS</option>
                    <option value="TODAS">TODAS</option>
                </select>
            </div>
            <button type="button" class="btn btn-outline-info mr-2 fa fa-question" container="body" placement="right" ngbPopover="Si das asesorías para varias divisiones escoge una de las tres y coloca la información faltante en la descripción" popoverTitle="Coloca la división de tus asesorías, no la división a la que tú perteneces ">
            </button>

        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Descripción</label>
            <div class="col-md-8">
                <textarea rows="4" cols="50" class="form-control" id="descripcion" placeholder="Descripción (Máximo 250 caracteres)" formControlName="descripcion" maxlength="255"></textarea>
                <!--<input class="form-control" type="text" placeholder="Descripción" formControlName="descripción">-->
            </div>
        </div>
        <div class="form-group row ">
            <label for="file-upload" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i> Subir imagen
                    </label>
            <input id="file-upload" type="file" accept="image/*" (change)="setImage($event.target.files)" />
        </div>
        <div class="alert alert-primary" role="alert" align="center" *ngIf="SiImagen">
            Has seleccionado la imagen, presiona subir imagen para cambiarla
        </div>
        <div class="alert alert-info" role="alert">
            Recuerda: Debes llenar todos los campos para poder subir tu producto
        </div>
        <div align="center" *ngIf="carga">
            <mat-spinner></mat-spinner>
            <br>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-success m-2">
                    <!--El submit envia el formulario-->
                    Guardar
                </button>
                <a class="btn btn-outline-danger m-2 " (click)="volverAtras()">Cancelar</a>

            </div>
        </div>
    </form>


</div>