#contenido{
    padding-top: 100px;
}
#tituloCategorias{
    font-family: 'K2D', sans-serif;
    font-weight: bold;  
    font-size: 25px; 
    text-align: center;  
    padding-top: 25px; 
    color:black;      
}
.list-group{
    font-family: 'K2D', sans-serif;
    font-weight: lighter;  
    font-size: 20px;
    color:black;
}
#productos{
    padding-top: 25px;    
    color:white;
    border-radius: 7px;
}

#registro{
    background-image:url(../../../assets/img/textura.jpg);
}
#textoR{
    color:black;
}