<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">


<div id="contenido" *ngIf="!Restriccion">
		<body>
    <div class="row">
        <div class="col-sm-3">
            <!-- Card -->
            <div class="card-deck">
            <div id="registro" class="card card-image">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h5 id="textoR" class="green-text"><i class="fa fa-pie-chart"></i> Vende</h5>
                        <h3 id="textoR" class="card-title pt-2"><strong>Registra tus productos</strong></h3>
                        <p id="textoR">Haz que tus productos lleguen a más gente y aumenta tus ventas. El registro es
                            totalmente gratuito
                        </p>
                        <a class="btn btn-green" [routerLink]="['/agregarProducto']"><i class="fa fa-clone left"></i>
                            Registrar producto</a>
                    </div>
                </div>
            </div>
        </div>
            <!-- Card -->
            <div class="list-group list-group-flush" id="list-tab" role="tablist">

                <a id="tituloCategorias" class="list-group-item list-group-item-action disabled" data-toggle="list"
                    href="#" role="tab" aria-controls="principal">Categorías</a>
                <a class="list-group-item list-group-item-action  active" id="list-principal-list" data-toggle="list" href="#principal"
                    role="tab" aria-controls="pagPrin">Información</a>
                <a class="list-group-item list-group-item-action " id="list-libros-list" data-toggle="list" href="#list-libros"
                    role="tab" (click)="cambio('libros')" aria-controls="info">Libros</a>
                <a class="list-group-item list-group-item-action" id="list-proyecto-list" data-toggle="list" href="#list-libros"
                    (click)="cambio('proyectos')" role="tab" aria-controls="favoritos">Proyectos terminales o servicio
                    social</a>
                <a class="list-group-item list-group-item-action " id="list-electronica-list" data-toggle="list" href="#list-libros"
                    (click)="cambio('electronica')" role="tab" aria-controls="favoritos">Electrónica y computación</a>
                <a class="list-group-item list-group-item-action" id="list-departamentos-list" data-toggle="list" href="#list-libros"
                    (click)="cambio('departamentos')" role="tab" aria-controls="favoritos">Departamentos</a>
				<a class="list-group-item list-group-item-action" id="list-tutorias-list" data-toggle="list" href="#list-libros"
                    (click)="cambio('tutorias')" role="tab" aria-controls="favoritos">Tutorias</a>
            </div>

        </div>


        <div class="col-sm-8">
            <div class="tab-content" id="informacion">

                <div class="tab-pane fade show active" id="principal" role="tabpanel" aria-labelledby="pagPrin">

                    <!-- Card -->
                    <div id="espacio" class="card card-cascade wider reverse">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top" src="../../../assets/img/cover-2.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div id="cardP" class="card-body bg-dark white-text text-center">

                            <!-- Title -->
                            <h4 class="card-title"><strong>Bienvenido</strong></h4>
                            <!-- Text -->
                            <p id="cardP" class="card-text">UAMIShop sigue siendo un proyecto en desarrollo, por lo que hacemos
                         actualizaciones continuamente. En esta pestaña podrás encontrar información sobre las categorías disponibles
                          actualmente y las que estarán en un futuro.  Si tienes ideas sobre una nueva categoría no dudes en contactarnos
                           por nuestras redes sociales. 
                            </p>

                            <!-- Linkedin -->
                            <a id="cardP" href="https://www.facebook.com/uami.shopp.1" target="_blank">
                                <i class="fa fa-facebook mr-4"></i>
                            </a>
                            <a id="cardP" href="https://twitter.com/ShopUami" target="_blank">
                                <i class="fa fa-twitter mr-3"></i>
                            </a>
                            <a  id="cardP" href="https://www.youtube.com/channel/UC65Dze8QOdWVVckYDChaZyA" target="_blank">
                                <i class="fa fa-youtube mr-3"></i>
                            </a>

                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card deck -->
                    <div class="card-deck">

                        <!-- Card -->
                        <div id="card-1" class="card card-image">

                            <!-- Content -->
                            <div class="text-center  align-items-center rgba-black-strong py-5 px-4">
                                <div>
                                    <h3 id="tituloB" class="card-title pt-2"><i class="fa fa-book"></i> <strong> Libros</strong></h3>
                                    <p id="textoB">Con la opción de vender, rentar o intercambiar  </p>                                   
                                </div>
                            </div>
                        </div>
                        <!-- Card -->

                        <!-- Card -->
                        <div id="card-2" class="card card-image">

                                <!-- Content -->
                                <div class="text-center  align-items-center rgba-black-strong py-5 px-4">
                                    <div>
                                            <h3 id="tituloR" class="card-title pt-2"><i class="fa fa-graduation-cap"></i> <strong> Proyectos terminales y servicio social</strong></h3>
                                            <p id="textoR">Busca propuestras vigentes o crea la tuya   </p> 
                                    </div>
                                </div>
                            </div>
                        <!-- Card -->
                    </div>
                    <!-- Card deck -->
                    <!-- Card deck -->
                    <div class="card-deck">

                        <!-- Card -->
                        <div id="card-3" class="card card-image">

                            <!-- Content -->
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                <div>
                                        <h3 id="tituloB" class="card-title pt-2"><i class="fa fa-laptop"></i> <strong> Electrónica y computación  </strong></h3>
                                        <p id="textoB">Con la opción de vender, rentar o intercambiar  </p> 
                                </div>
                            </div>
                        </div>
                        <!-- Card -->
                        <!-- Card -->

                        <!-- Card -->
                        <div id="card-4" class="card card-image">

                            <!-- Content -->
                            <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
                                <div>
                                        <h3 id="tituloR" class="card-title pt-2"><i class="fa fa-home"></i> <strong> Departamentos  </strong></h3>
                                        <p id="textoR">Con la opción de vender, rentar  </p> 
                                </div>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <!-- Card deck -->
                    <!-- Card deck -->
                    <div class="card-deck">

                        <!-- Card -->
                        <div id="card-5" class="card card-image">

                            <!-- Content -->
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                <div>
                                        <h3 id="tituloB" class="card-title pt-2"><i class="fa fa-university"></i> <strong> Tutorías  </strong></h3>
                                        <p id="textoB">Clasificadas por división para una búsqueda más rápida  </p> 
                                </div>
                            </div>
                        </div>
                        <!-- Card -->
                        

                        
                         <!-- Card -->
                         <div id="card-6" class="card card-image">

                            <!-- Content -->
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                <div>
                                        <h3 id="tituloR" class="card-title pt-2"><i class="fa fa-comments"></i> <strong> Próximamente  </strong></h3>
                                        <p id="textoR">Categoria de servicio técnico  </p> 
                                </div>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <!-- Card deck -->

                   

                </div>

                <div class="tab-pane fade" id="list-libros" role="tabpanel" aria-labelledby="list-info-list">

                    <h3 class="h3 mb-3">{{categoria}}</h3>
                    <hr>
                    <div id="productos" class="card-columns rounded " *ngIf="productos">
                        <div class="card bg-dark animated fadeIn fast " *ngFor="let product of productos; let i=index">
                            <img class="card-img-top" [src]="product.archivo.url" [alt]="product.nombre">
                            <div class="card-body">
                                <h5 class="card-title">{{product.nombre}}</h5>
                                <p class="card-text text-white">{{product.descripcion}}</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-outline-success" [routerLink]="['/producto', product.id]">ver
                                    más</button>
                                <button class="btn btn-outline-info" (click)="agregarFavorito(product.id)">Añadir a
                                    favoritos</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
	</body>
 <app-pie-pagina></app-pie-pagina>
</div>