<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">


<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div id="contenido" class="d-flex align-items-center">
    <div class="row">

        <div class="col-sm-3">
            <!-- Card -->
<div id="registro" class="card card-image">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
        <h5 id="textoR" class="green-text"><i class="fa fa-pie-chart"></i> Vende</h5>
        <h3  id="textoR" class="card-title pt-2"><strong>Registra tus productos</strong></h3>
        <p id="textoR">Haz que tus productos lleguen a más gente y aumenta tus ventas. El registro
            es totalmente gratuito
        </p>
        <a class="btn btn-green" [routerLink]="['principal']"><i class="fa fa-clone left"></i> Registrar producto</a>
      </div>
    </div>
  
  </div>
  <!-- Card -->
  
            <div class="list-group " id="myList" role="tablist">
                <a id="tituloCategorias" class="list-group-item list-group-item-action disabled" data-toggle="list"
                    href="#home" role="tab">Categorías</a>
                <a id="Categorias" class="list-group-item list-group-item-action " data-toggle="list" href="#productos" role="tab">Libros</a>
                <a id="Categorias" class="list-group-item list-group-item-action disabled" data-toggle="list" href="#profile"
                    role="tab">Departamentos</a>
                <a id="Categorias" class="list-group-item list-group-item-action disabled" data-toggle="list" href="#messages"
                    role="tab">Tutorías</a>
                <a id="Categorias" class="list-group-item list-group-item-action disabled" data-toggle="list" href="#settings"
                    role="tab">Comida</a>
            </div>
        </div>
        <div id="productos" class="col-sm-8 ">
            <div class="card-columns rounded " *ngIf="productos">
                <div class="card bg-dark animated fadeIn fast " *ngFor="let product of productos; let i=index">
                    <img class="card-img-top" [src]="product.archivo.url" [alt]="product.nombre">
                    <div class="card-body">
                        <h5 class="card-title">{{product.nombre}}</h5>
                        <p class="card-text text-white">{{product.descripcion}}</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-success" [routerLink]="['/producto', product.id]">ver más</button>
                        <button class="btn btn-outline-info" [routerLink]="['/producto']">Añadir a favoritos</button>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

