<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
<div id="contenido" *ngIf="!Restriccion">
<body>
  <div class="row">
    <div class="col-sm-3">
      <!-- imagen -->
      <img src="../../../assets/img/logoBig.png" class="img-fluid rounded-circle hoverable" alt="hoverable">
      <!-- imagen -->
      <div class="list-group list-group-flush" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action " id="list-info-list" (click)="obtenerInfoUsuario()"
          data-toggle="list" href="#list-info" role="tab" aria-controls="info">Información</a>
        <a class="list-group-item list-group-item-action" id="list-productos-list" (click)="obtenerProductosUsuario()"
          data-toggle="list" href="#list-productos" role="tab" aria-controls="productos">Mis productos</a>
        <a class="list-group-item list-group-item-action" id="list-favoritos-list" (click)="obtenerFavoritos()"
          data-toggle="list" href="#list-favoritos" role="tab" aria-controls="favoritos">Mis favoritos</a>

      </div>
    </div>


    <div class="col-sm-8">
      <div class="tab-content" id="informacion">
        <div class="tab-pane fade show active  border border-gray " id="list-info" role="tabpanel" aria-labelledby="list-info-list">

          <h3 class="h3 mb-3">Cuenta</h3>
          <hr>
          <!-- Extended default form grid -->
          <form [formGroup]="forma" (ngSubmit)="guardarCambios()">
            <!-- Grid row -->
            <div class="form-row">
              <!-- Default input -->
              <div class="form-group col-md-6">
                <label for="inputCity">Nombre de usuario: </label>
                <p class="grey-text">{{usuario.nombre}}
                </p>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email:</label>
                <p class="grey-text">{{usuario.correo}}
                </p>
              </div>
              <!-- Default input -->

            </div>
            <!-- Grid row -->

            <!-- Default input -->
            <div class="form-row">
              <div class="form-group col-md-6">
                 <label for="inputPassword4">Número telefónico:</label>
                <input class="form-control" type="tel"  formControlName="telefono">
                <!-- <p class="grey-text" >{{usuario.telefono}}  
                    </p>-->
              </div>
              <div class="form-group col-md-6">
                <label for="inputCity">Calificación: </label>
                <p class="grey-text">{{usuario.calificacion}}
                </p>
              </div>

            </div>

            <button type="submit" class="btn btn-success btn-md">Guardar cambios</button>
            <!-- Grid row -->
          </form>
          <!-- Extended default form grid -->

        </div>

        <div class="tab-pane fade" id="list-productos" role="tabpanel" aria-labelledby="list-productos-list">
          <h3 class="h3 mb-3">Productos del usuario</h3>
          <hr>
          <div id="productos" class="card-columns rounded " *ngIf="productos">
            <div class="card bg-dark animated fadeIn fast " *ngFor="let product of productos; let i=index">
              <img class="card-img-top" [src]="product.archivo.url" [alt]="product.nombre">
              <div class="card-body">
                <h5 class="card-title">{{product.nombre}}</h5>
                <p class="card-text text-white">{{product.descripcion}}</p>
              </div>
              <div class="card-footer">
                <button class="btn btn-outline-success" (click)="modificarProducto(product)">Editar información</button>

                <button class="btn btn-outline-danger" (click)="eliminarProducto(product.id)">Eliminar</button>
              </div>
            </div>
          </div>


        </div>

        <div class="tab-pane fade" id="list-favoritos" role="tabpanel" aria-labelledby="list-favoritos-list">
          <h3 class="h3 mb-3">Favoritos</h3>
          <hr>

          <div id="productos" class="card-columns rounded " *ngIf="productos">
            <div class="card bg-dark animated fadeIn fast " *ngFor="let product of productos; let i=index">
              <img class="card-img-top" [src]="product.archivo.url" [alt]="product.nombre">
              <div class="card-body">
                <h5 class="card-title">{{product.nombre}}</h5>
                <p class="card-text text-white">{{product.descripcion}}</p>
              </div>
              <div class="card-footer">
                <button class="btn btn-outline-success" [routerLink]="['/producto', product.id]">Ver más</button>
                <button class="btn btn-outline-danger" (click)="eliminarFavoritos(product.id)">Quitar de favoritos</button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  </body>
  <app-pie-pagina></app-pie-pagina>
</div>

  
