#contenido {
    padding-top: 100px;
    padding-left: 100px;
}

.list-group {
    padding-top: 25px;
    font-family: 'K2D', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

#informacion {
    font-family: 'K2D', sans-serif;
    padding-left: 10px;
    padding-top: 20px;
    border-radius: 7px;
    padding-right: 20px;
}

#productos {
    color: white;
}

#registro {
    background-image: url(../../../assets/img/textura.jpg);
}

#cardP {
    color: white;
    font-family: 'K2D', sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

ul.a {
    list-style-type: circle;
    text-align: left;
}

@media screen and (max-width: 600px) {
    #contenido {
        padding-top: 50px;
        padding-left: 0px;
    }
}

@media screen and (min-width: 576px) {
    .responsive-width {
        white-space: normal;
        font-size: 1.5vw;
        padding-left: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 833px) {
    .responsive-width {
        white-space: normal;
        font-size: 1.3vw;
    }
}

@media screen and (min-width: 834px) {
    .responsive-width {
        text-align: center;
        white-space: normal;
        font-size: 1.1vw;
    }
}

@media screen and (min-width: 985px) and (max-width: 991px) {
    .responsive-width {
        text-align: center;
        white-space: normal;
        font-size: 1vw;
    }
}

#foot {
    color: #ffffff;
}


/* Footer color for sake of consistency with Navbar */

.page-footer {
    background-color: #1C2331;
}